   body {
    margin: 0 auto;
    background: #f2f2f2;
   }
.topnav {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    overflow: hidden;
}
.topnavcontent {
    width: 960px;
    margin: 0 auto;
}
.home {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-weight: bold;
    background-color: #4aaaa5;
    padding: 50px;
    width: 140px;
    text-align: center;
    float: left;
}
.home a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}
.nav {
    margin: 0 auto;
    float: right;
    padding: 50px 0 50px 0;
    display: -webkit-box;
}
.nav a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    color: #777777;
    padding: 20px;
}
.portfolio {
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
}
.main {
    width: 910px;
    margin: 20px auto;
    padding: 25px;
    background-color: #ffffff;
    color: #4aaaa5;
    min-height: 100%;
}
h1 {
    padding-bottom: 20px;
    border-bottom: 2px solid #dddddd;
}
.form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 18px;
}
input[type=text] {
    width: 906px;
    padding: 10px 0 10px 0;
    margin-top: 5px;
    margin-bottom: 20px;
    text-indent: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 15px;
}
  input[type=submit] {
    background-color: #4aaaa5;
    font-size: 15px;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
  }
  .footer {
    position: absolute;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
    background-color: #666666;
    width: 100%;
    height: 80px;
    margin-top: 20px;
    border-top: 8px solid #4aaaa5;
}
@media screen and (max-width: 980px) {
    .header {
        width: 100%;
        display: block;
    }
    .main {
        width: fit-content;
    }
    .topnavcontent {
        width: 100%;
    }
    .form {
        width: auto; 
    }
    input[type=text] {
        width: 100%;
    }
@media screen and (max-width: 768px) {
    .header {
        width: 100%;
    }
    .topnavcontent {
        width: 100%;
    }
    .main {
        width: fit-content;
    }
    .form {
        width: auto; 
    }
    input[type=text] {
        width: 100%;
    }

@media screen and (max-width: 640px) {
    .header {
        width: 100%;
    }
    .topnavcontent {
        width: 100%;
    }
    .home {
        width: min-content;
    }
    .main {
        background-color: #fff000;
        width: auto;
    }
    .form {
        width: auto; 
    }
    input[type=text] {
        width: 100%;
        padding: 10px 0 10px 0;
    }
